.wrap {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.45);
}

.popupOption {
    position: absolute;
    width: 270px;
    height: 180px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
}

.areaTop {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.areaBot {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paramOption {
    font-width: 500;
}

.btnOption {
    font-weight: 400;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #0062df;
    outline: none;
    color: #fff;
    cursor: pointer;
}