.mypageMenu {
    position: absolute;
    right: -10px;
    width: 282px;
    padding: 16px 0px;
    border: 1px solid rgb(228, 235, 240);
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
    transform: translateY(10px);
    top: 45px;
}

.space1 {
    position: absolute;
    right: 3px;
    width: 0px;
    height: 0px;
    border-bottom: 10px solid rgb(228, 235, 240);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    top: 45px;
}

.space2 {
    position: absolute;
    right: 3px;
    transform: translateY(1.5px);
    width: 0px;
    height: 0px;
    border-bottom: 10px solid rgb(255 255 255);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    top: 45px;
}

.flexOption {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.li_option {
    padding: 15px 16px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.li_back_option {
    padding: 15px 16px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    background: rgba(0,98,223, 0.2);
}

.li_option:hover {
    background-color: rgba(0,98,223, 0.2);
}

.img_option {
    height: 18px;
}