.product_wrap {

}

.productWrap {
    width: calc(100% / 4 - 20px);
    margin-bottom: 20px;
}

.imgWrap {
    /*width: 200px;*/
    /*height: 200px;*/
    background: rgb(246, 238, 237);
    border-radius: 10px;
    cursor: pointer;
}

.imgSize {
    width: 100%;
    height: 100%;
}

.infoSection {
    padding-top: 10px;
    padding-left: 5px;
}

.productTitle {
    font-weight: 600;
    margin-bottom: 7px;
    color: #333;
    font-size: 14px;
}

.productSubTitle {
    color: #333;
    margin-bottom: 4px;
    font-size: 14px;
}

.productKorTitle {
    color: rgba(34,34,34, .5);
    font-size: 13px;
    margin-bottom: 15px;
}

.pruductPrice {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 7px;
}

.bookmark {
    height: 15px;
    cursor: pointer;
}

.userFavSection {
    display: flex;
    gap: 10px;
    color: rgba(34,34,34,.5);
    font-size: 13px;
}

.bookmarkSection {
    display: flex;
    gap: 5px;
    align-items: center;
}