.asideSection {
    width: calc(100% - 1016px);
    height:227px;
    padding: 12px 10px;
    border: 1px solid rgb(228, 235, 240);
    border-radius: 8px;
    background-color: #fff;
}

.wrap {
    width: 100%;
    height: calc(100vh - 57px);
    /* height:100vh; */
    background: rgb(246, 249, 250);
    padding: 40px 0;
}

.profileWrap {
    width: 100%;
    background: rgb(246, 249, 250);
    padding: 40px 0;
}

.layout {
    width: 1224px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
}

.account {
    width: 1016px;
    background:rgb(249, 250, 251);
    padding: 12px 10px;
    border: 1px solid rgb(228, 235, 240);
    border-radius: 8px;
    padding: 40px 32px;
    background-color: #fff;
}

.h2_option {
    font-family: Pretendard;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    color: rgb(58, 62, 65);
}
.p_option {
    margin-top: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: rgb(157, 167, 174);
}

.account_information{

    margin-top: 50px;
}
.management_box{
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: darkblue; */
}

.input_name{
    font-family: Pretendard;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: rgb(58, 62, 65);
}

.input_password{
    padding: 8px 16px;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: rgb(58, 62, 65);

}

.box{
    width: 137px;
    height: 56px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 8px;
    background-color: #0062df;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #ffffff;
}

.edit{
    color: #ffffff;
}
.mobile_account {
    width: 100%;
    height: calc(100vh - 57px);
    background: rgb(246, 249, 250);
}

.mobile_h2 {
    font-weight: 600;
    font-size: 24px;
    color: rgb(58, 62, 65);
}

.mobile_param {
    margin-top: 4px;
    font-weight: 400;
    font-size: 16px;
    color: rgb(157, 167, 174);
}

.mobile_top_info {
    padding: 40px 16px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background: #fff;
}

.mobile_bot_info {
    padding: 0px 16px 40px 16px;
    background: #fff;
}

.bottom_info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 14px;
    color: rgb(58, 62, 65);
}

.indent {
    padding: 8px 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: rgb(58, 62, 65);
}

.indentClick {
    padding: 8px 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: rgb(58, 62, 65);
    cursor: pointer;
    text-decoration: underline;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #EEF3F6;
    margin-top:40px;
}

.line2 {
    width: 100%;
    height: 1px;
    background-color: #EEF3F6;
    margin-top:40px;
    margin-bottom: 40px;
}

.applicantText {
    padding: 8px 12px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: rgb(157, 167, 174);
}

.privacy{
    height:500px;
}
.profile{
    gap: 20px;
    margin-bottom:20px;
    /* margin-top:40px; */
    /* background-color: darkcyan; */
}
.title{
    font-family: Pretendard;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    color: #141617;
    color: #3A3E41;
}

.input{
    /* gap: 12px;
    grid-template-columns: 70px 1fr;
    display: grid;
    align-items: center; */
    width: 650px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name{
    font-family: Pretendard;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: #141617;
    color: #3A3E41;
}



.input_style{
    width:532px;
    display: flex;
    align-items: center;
    height: 56px;
    padding: 16px;
    border: 1px solid #D7E0E6;
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
    color: #5F666B;
    outline: none;
}

.div_style {
    width:532px;
    display: flex;
    align-items: center;
    height: 56px;
    padding: 16px;
    border: 1px solid #D7E0E6;
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
    color: #5F666B;
    outline: none;
    background-color: #F6F9FA;
}

.div_inner_left {
    width: 95%;
}

.div_inner_right {
    width: 5%;
}

.downloadIcon {
    height: 20px;
}

.id_box{
    display: flex;
    align-items: center;
    padding: 30px;
}

.id{
    width:218px;
}

.input_layout{
    display : flex;
    justify-content: space-between;
    padding:30px 30px 0px 30px;
}

.button_style{
    width: 137px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #0062df;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #ffffff;
    margin-left:760px;
}

.edit_profile{  
    width: 288px;
}

.edit_profile_wrap {
    border: 1px solid rgb(228, 235, 240);
    padding: 40px 24px 24px;
    border-radius: 8px;
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.textArea {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.topText {
    font-weight: 600;
    font-size: 20px;
    color: rgb(58, 62, 65);
}

.botText {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: rgb(58, 62, 65);
}

.btnArea {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cancelBtn {
    width: 100%;
    height: 58px;
    font-weight: 400;
    font-size: 16px;
    padding: 16px 24px;
    border-radius: 8px;
    outline: none;
    border: 1px solid rgb(228, 235, 240);
    color: rgb(129, 137, 143);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.firstSection {
    display: flex;
}

.leftInner {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.leftInnerTopText {
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    color: rgb(58, 62, 65);
}

.leftInnerBotText {
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    color: rgb(157, 167, 174);
}

.rightInner {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.rightInner2 {
    width: 60%;
    display: flex;
    gap: 20px;
}

.selectSection {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.selectSectionSkill {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.selectText {
    width: 15%;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: rgb(58, 62, 65);
    display: flex;
    align-items: center;
}

.btnSection1 {
    width: 80%;
}

.inputSection {
    width: 100%;
    display: flex;
    align-items: center;
    height: 56px;
    padding: 16px;
    border: 1px solid #D7E0E6;
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
    color: #5F666B;
    outline: none;
}

.careerSection {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btnSection2 {
    width: 80%;
}

.choiceBtn {
    width: 80%;
}

.choiceBtnWrap {
    border-radius: 8px;
    display: flex;
}

.dropSkillMenuWrap {
    width: 80%;
    position: relative;
}

.leftBtn {
    width: 50%;
    padding: 16px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #6E50FF;
    background-color: #6E50FF;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    border-radius: 8px 0 0 8px;
    cursor: pointer;
}


.rightBtn {
    width: 50%;
    padding: 16px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E4EBF0;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #5F666B;
    background: none;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
}

.skillsWrap {
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #d7e0e6;
    cursor: pointer;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    position: relative;
}

.skillsWrap2 {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
}

.infoText {
    white-space: nowrap;
    margin-left: 107px;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: rgb(157, 167, 174);
}

.skill {
    padding: 4px 6px;
    background-color: rgb(238, 243, 246);
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    color: rgb(95, 102, 107);
}

.dropDownMenu {
    width: 100%;
    position: absolute;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid rgb(215, 224, 230);
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(20, 22, 23, 0.2) 0px 8px 20px;
    z-index: 1;
}

.itemWrap {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 6px;
    padding: 0px 16px 16px 13px;
    max-height: 350px;
    max-height: 350px;
}

.skillPlaceHolde {
    font-weight: 400;
    font-size: 16px;
}

.skillSelect {
    display: inline-block;
    border: 1px solid rgb(228, 235, 240);
    border-radius: 24px;
    background-color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    padding: 10px 14px;
    color: rgb(58, 62, 65);
}

.arrowSection {

}

.arrowSize {
    height: 15px;
    margin-top: 2px;
}

.choiceBtn {

}

.selected {
    background-color: red;
}

.fileArea {
    width: 326px;
    height: 58px;
    border: 1px solid #d7e0e6;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 16px;
    margin-left: auto;
    color: #5F666B;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
}

.displayNone {
    display: none;
}

.fileSearch {
    width: 108px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #3A3E41;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}

.fileLabel {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}