.signupGeneralForm {
    width: 100%;
    padding: 48px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mobileSignupGeneralForm {
    padding: 32px 24px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.postCodeStyle {
    background : rgba(0,0,0,0.25);
    position : fixed;
    left:0;
    top:0;
    height:100%;
    width:100%;
}

.formWrap {
    width: 510px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.flexOption {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
}

.buttonOption {
    width: 15%;
    height: 58px;
    font-weight: 400;
    font-size: 16px;
    color: rgb(20, 22, 23);
    border-radius: 8px;
    border: 1px solid rgb(215, 224, 230);
    outline: none;
    background-color: #0062df;
    outline: none;
    color: #fff;
    cursor: pointer;
}
.lineHeight {
    line-height: 57px;
}